/* Main section */
.banner_container {
    margin: 40px 0;
}
.banner_image {
    width: 100%;
}

.category_heading {
    text-transform: uppercase;
    color: #3e4152;
    letter-spacing: .15em;
    font-size: 1.8em;
    margin: 50px 0 10px 30px;
    max-height: 5em;
    font-weight: 700;
}

.category-items, .items-container {
    width: 80%;
    margin: 50px 10%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}

.sale_item {
    width: 250px;
}


/* */
.items-container{
width: 80%;
margin: 40px 10%;
}

.item-container{
    width: 250px;
    margin: 10px; }

.item-image {
width: 100%; }

.rating{
    font-size: 12px;
    font-weight: 700;

}

.company-name {
    margin-top: 15px;
    font-size: 16px;
    font-weight: 700;
    line-height: 1;
    color: #282c3f;
    margin-bottom: 6px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}


.iten-name {
    color: #535766;
    font-size: 14px;
    line-height: 1;
    margin-bottom: 0;
    margin-top: 0;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    font-weight: 400;
    display: block;
}

.price {
    margin-top: 19px;
    font-size: 14px;
    line-height: 15px;
    color: #282c3f;
    white-space: nowrap;
}

.current-price{
    font-size: 14px;
    font-weight: 700;
    color: #282c3f;
}

.original-price {
    text-decoration: line-through;
    color: #7e818c;
    font-weight: 400;
    margin-left: 5px;
    font-size: 12px;
}

.discount {
    color: #ff905a;
    font-weight: 400;
    font-size: 12px;
    margin-left: 5px;
}

.btn-add-bag {
margin-top: 8px;
width: 100%;
background-color: lightgreen;
border: none;
padding: 5px 15px;
border-radius: 10px;
font-size: 18px;
cursor: pointer;
}

.btn-add-bag:hover{
    background-color: rgb(144, 238, 144,0.7);
}

/*  Profile  */
.profile-card {
      max-width: 600px;
      margin: 1px auto;
      background: #fff;
      border-radius: 10px;
      box-shadow: 0 4px 12px rgba(0,0,0,0.1);
    }

    .profile-header {
      background: #0d6efd;
      color: white;
      text-align: center;
      border-top-left-radius: 10px;
      border-top-right-radius: 10px;
      padding-bottom: 3px;
    }

    .profile-header img {
      width: 90px;
      height: 90px;
      border-radius: 50%;
      border: 2px solid #fff;
}

/*  signup page */

.profile-card {
      max-width: 600px;
      margin: 4px auto;
      background: #fff;
      border-radius: 10px;
      box-shadow: 0 4px 12px rgba(0,0,0,0.1);
    }

    .profile-header {
      text-align: center;
      border-top-left-radius: 10px;
      border-top-right-radius: 10px;
    } 